@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@
@using System.Linq
@using Hangfire.Dashboard.Pages
@using Hangfire.MissionControl
@using Hangfire.MissionControl.Dashboard.Pages
@using Hangfire.MissionControl.Dashboard.Pages.Controls
@inherits Hangfire.Dashboard.RazorPage
@{
    string selectedCategory = this.SelectedCategory;
    MissionMap missionMap = this.MissionMap;
    MissionControlOptions options = this.Options;
    Layout = new LayoutPage(Title);
    var availableMissions = missionMap.Missions.Where(x => x.Value.CategoryName == selectedCategory).Select(x => x.Value).ToArray();
}

<link rel="stylesheet" type="text/css" href="@Url.To("/mission-control/css/styles")" />
<link rel="stylesheet" type="text/css" href="@Url.To("/mission-control/css/bootstrap-datetimepicker")" />
<script>
    var baseUrl = "@Url.To("/mission/launch")";
    var idFieldName = "@Mission.IdField";
    var jobLinkBaseUrl = "@Url.JobDetails("")";
    var requireConfirmation = @options.RequireConfirmation.ToString().ToLowerInvariant();
</script>
<script type="text/javascript" src="@Url.To("/mission-control/js/moment")"></script>
<script defer type="text/javascript" src="@Url.To("/mission-control/js/bootstrap-datetimepicker")"></script>
<script defer type="text/javascript" src="@Url.To("/mission-control/js/page")"></script>

<div class="row">
    <div class="col-md-3">
        @CategoriesSidebar.Render(Html, selectedCategory, missionMap)
    </div>
    <div class="col-md-9">
        <h1 class="page-header">@selectedCategory</h1>
        @if (availableMissions.Length == 0)
        {
            <div class="alert alert-warning" role="alert">
                No missions for selected category are available
            </div>
        }

        @foreach (var mission in availableMissions)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group">
                        <a role="button" data-toggle="collapse" href="#@mission.Id-panel" aria-expanded="false">
                            <h3 class="panel-title">@mission.Name</h3>
                        </a>
                    </div>
                </div>
                <div id="@mission.Id-panel" class="panel-body collapse">
                    @if (!string.IsNullOrWhiteSpace(mission.Description))
                    {
                        <p>@mission.Description</p>
                    }

                    <div class="job-snippet">
                        <div class="job-snippet-code">
                            <pre><code>@MissionRenderer.RenderMission(mission.MethodInfo)</code></pre>
                        </div>
                    </div>

                    <form id="@mission.Id">
                        @foreach (var parameter in mission.MethodInfo.GetParameters())
                        {
                            var control = ControlFactory.CreateControl(parameter, mission);
                            if (control is NullControl) { continue; }

                            <div class="form-group">
                                @Html.RenderPartial(control)
                            </div>
                        }

                        <button type="button" class="btn btn-info" onclick="onMissionStart(this, '@mission.Id');">Enqueue</button>
                    </form>
                </div>
                <div id="@mission.Id-alerts" class="panel-footer hidden"></div>
            </div>
        }
    </div>
</div>
